<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../assets/index3.html" class="brand-link">
      <img src="../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Asian Food</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="/admin/index" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
          
            
        
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Masters
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/category" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/sub_category" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sub Categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/banner" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Home Page Main Slider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/state" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>State</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/city" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Cities</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/area" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Areas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/express_delivery" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Express Delivery</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/delivery_time_slot" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Delivery Time Slot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/delivery_charge" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Delivery Charges</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/admin/product_list" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                Product
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/promo_code" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Promo Codes
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/offer" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Offers
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/order" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Orders
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/customer_list" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Customers
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/sales_report" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Sales Reports
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
        